*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: rgb(200, 201, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.first{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 50px;
}

.first a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.manage-word{
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.mange ul li a{
  text-decoration: none;
  color: black;

}


.active{
  background-color: rgb(216, 213, 209);
}
