<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagepath" alt="" class="img-responsive" width="500px" height="400px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <div class="btn-group open" appDropdown>
      <button type="button" style="display: block;" class="btn btn-primary dropdown-toggle"data-toggle="dropdown" >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="">
        <li><a (click)="OnAddToshoppinglist()" style="cursor: pointer;">TO Shopping List</a></li>
        <li><a (click)="oneditrecipe()" style="cursor: pointer; text-decoration: none; color: black;">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()" style="cursor: pointer; text-decoration: none; color: black;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let x of recipe.ingredients">
      {{x.name}} - {{x.amount}}
    </li>

    </ul>
  </div>
</div>

